body,
h1,
h2,
h3,
h4,
h5,
h6,
code,
img,
form,
label,
footer,
header,
menu,
p,
blockquote,
pre,
a,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* for older browsers */
footer,
header,
hgroup,
aside,
details,
menu,
article,
figcaption,
figure,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}